<!DOCTYPE html>
<head>
    <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
</head>
<html>
    <body>
    <div class="container">
        <div class="images">    
            <a href="/images/1"><img src="/images/1.jpg" width="200" height="200"></a> 
            <a href="/images/2"><img src="/images/2.jpg" width="200" height="200"></a>
            <a href="/images/3"><img src="/images/3.jpg" width="200" height="200"></a>
        </div>
    </div>
    </body>
</html>